Ignore element order in `PROPFIND` responses

[RFC 4918, §17](http://webdav.org/specs/rfc4918.html#xml-extensibility) states that the order of elements in WebDAV XML documents is irrelevant, yet `batchdav` currently requires elements in `PROPFIND` responses to match the order given by the DTD fragments in the RFC.